.orders-confirm-title {
	background-color: rgba(200, 200, 200, 0.5);
	text-align: center;
}

.orders-list-title {
	background-color: rgba(200, 200, 200, 0.7);
}

.create-order-link {
	margin-top: 25px;
}

.orders-detail-title {
	font-weight: bold;
	margin: 20px;
}