.receiver-title {
	background-color: rgba(200, 200, 200, 0.5);
	text-align: center;
	width: 240px;
	margin-left: 150px;
	margin-bottom: 30px;
}

.receiver-form {
	height: 30px;
}

.receiver-table th {
	background-color: rgba(200, 200, 200, 0.7);
}

.receiver-btn {
	margin-left: 20px;
}