#admin-product-edit{
	.edit-attachment{
		margin-top:10px;
	}
	.edit-form{
		width:100%;
	}
	.edit-introduction{
		resize:none;
		height:150px;
	}
	.edit-genre{
		margin-bottom:20px;
	}
	.edit-submit{
		margin-top:300px;
	}
}