.admin-product-new-introduction{
	height:150px;
	resize:none;
}
.admin-product-new-submit{
	margin-top:300px;
}
.admin-product-new-genre{
	margin-bottom:20px;
}
.admin-product-new-form{
	width:70%;
}
