.cart-title {
	background-color: rgba(200, 200, 200, 0.5);
	text-align: center;
}

.destroy-all {
	margin-top: 15px;
}

.cart-list-title {
	background-color: rgba(200, 200, 200, 0.7);
}

.continue-shopping {
	margin-top: 25px;
}

.new-order-link {
	margin-top: 25px;
}
