#registration-new{

	.title, .subtitle{
    margin: 30px 0px 30px 150px;
    padding-left: 10px;
    background-color: rgba(192,192,192,0.5);
  }

  .submit-btn{
    margin-top: 20px;
  }

  .link-box{
    margin: 0px 0px 100px 180px;
  }

}