<div class="container" id="user-footer">
  <footer class="footer-box">
  	<div class="row">
  		<div class="col-md-2">
			<p>ONiGiRi-OiSHi</p>
		</div>
		<div class="col-md-4">
			<p><%= link_to "about", home_about_path %></p>
		</div>
	</div>
  </footer>
</div>