<%= render "users/header" %>

<div class="container">
	<div class="row">
		<div class="col-md-6 col-md-offset-3">
			<h3 style="text-align: center">ーながのCAKEとはー</h3>
		</div>
	</div>
	<div class="row">
		<div class="col-md-6 col-md-offset-3">
			<p>元々近隣住⺠のお客様を中心に販売していた当店でしたが、昨年始めたInstagramから口コミが広まり全国から問い合わせが来るようになりました。<br>
			そして今年2019年公式サイトを開設しオンライン注文ができるようになりました。</p>
		</div>
	</div>
	<div class="row">
		<div class="col-md-2 col-md-offset-5">
			<h3 style="text-align: center;">ーアクセスー</h3>
		</div>
	</div>
	<div class="row">
		<div class="col-md-6 col-md-offset-3">
			<iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3201.6030988793777!2d138.18924821492973!3d36.635939284629124!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x601d868511f177bf%3A0xf6da84825a460433!2z44CSMzgwLTA5MjEg6ZW36YeO55yM6ZW36YeO5biC5aSn5a2X5qCX55Sw77yR77yX77yZ4oiS77yR!5e0!3m2!1sja!2sjp!4v1585377998763!5m2!1sja!2sjp" width="600" height="450" frameborder="0" style="border:0;" allowfullscreen="" aria-hidden="false" tabindex="0"></iframe>
		</div>
	</div>
	<div class="row">
		<div class="col-md-6 col-md-offset-3">
			<br>
			<p>住所：〒380-0921 長野県長野市大字栗田１７９−１</p>
			<p>長野駅東口から徒歩１２分(1km)</p>
			<p>電話番号：026-×××-××××</p>
			<p>営業時間：10:00〜19:00</p>
			<p>定休日：水曜日</p>
		</div>
		<div class="col-md-2">
			<br>
			<iframe src="https://calendar.google.com/calendar/embed?height=600&amp;wkst=1&amp;bgcolor=%23ffffff&amp;ctz=Asia%2FTokyo&amp;src=aWZ1bGluN3ZiZGgyMzEzM2dnYWltMnQ1dG9AZ3JvdXAuY2FsZW5kYXIuZ29vZ2xlLmNvbQ&amp;src=amEuamFwYW5lc2UjaG9saWRheUBncm91cC52LmNhbGVuZGFyLmdvb2dsZS5jb20&amp;color=%23795548&amp;color=%237CB342" style="border:solid 1px #777" width="400" height="450" frameborder="0" scrolling="no"></iframe>
		</div>
	</div>
</div>

<%= render "users/footer" %>