<%= render "users/header" %>

<div class="container">
    <div class="row">
        <div class="col-md-3">
        	<table class="table table-bordered">
					<th class="text-center">ジャンル検索</th>
						<tr><td>ケーキ<br><br>
						焼き菓子<br><br>
						プリン<br><br>
						キャンディ</td></tr><br>
			</table>
        </div>
        <div class="col-md-8 col-md^offset-8 text-center">
        	<h4>ようこそ、NaganoCakeへ！<br>
        		このサイトは、ケーキ販売のECサイトになります。<br>
        		会員でない方も商品の閲覧はできますが、<br>
        		購入には会員登録が必要になります。
        		</h4>
        </div>
    </div>
    <div class="row">
        <div class="col-md-offset-3 col-md-6">
        	<h2>オススメ商品</h2>
        </div>
    </div>
    <div class="row">
        <div class="col-md-offset-3 col-md-2">商品名<br>¥0,000</div>
        <div class="col-md-2">商品名<br>¥0,000</div>
        <div class="col-md-2">商品名<br>¥0,000</div>
        <div class="col-md-2">商品名<br>¥0,000</div>
    </div>
    <div class="row">
    	<div class="col-md-10 col-md-offset-10">もっと見る></div>
    </div>
</div>