<%= render 'users/header' %>

<div class="container">
	<div class="row">
		<div class="col-md-12">
			<h2 class="thanks-message">ご購入ありがとうございました！</h2>
		</div>
	</div>
	<div class="row">
		<div class="col-md-4 col-md-offset-4">
			<%= link_to "注文履歴を見る", orders_path, class: 'btn btn-primary active col-md-10' %>
		</div>
	</div>
</div>