
<%= render 'admin/home/header' %>

<div class="container" id="admin-products-index">
  <div class="top-box">
    <h3 class="title">商品一覧画面</h3>

    <p><%= link_to "+", new_admin_product_path %></p>

  </div>

  <div class="container">

    <table class="table-box">
      <thead>
      	<tr class="table-head">
      		<th>商品ID</th>
          <th>商品名</th>
          <th>税抜価格</th>
          <th>ジャンル</th>
          <th>ステータス</th>
      	</tr>
      </thead>
      <tbody>
      	<tr class="table-item">
      		<td>a</td>
          <td>a</td>
          <td>a</td>
          <td>a</td>
          <td>a</td>          
      	</tr>

        <tr class="table-item">
          <td>a</td>
          <td>a</td>
          <td>a</td>
          <td>a</td>
          <td>a</td>          
        </tr>
        <tr class="table-item">
          <td>a</td>
          <td>a</td>
          <td>a</td>
          <td>a</td>
          <td>a</td>          
        </tr>

      </tbody>
    </table>

  </div>
</div>

