.mypage-title {
	background-color: rgba(200, 200, 200, 0.5);
	text-align: center;
	width: 180px;
	margin-left: 150px;
}

.table {
	margin: 20px 0;
}

.profile-list{
	background-color: #fff;
}

.mypage-headline-4l {
	font-weight: bold;
	display: inline-block;
	margin-top: 20px;
	margin-right: 30px;
}

.mypage-headline-3l {
	font-weight: bold;
	display: inline-block;
	margin-right: 47px;
}