#user-products-index{

  .main{
    margin-top: 20px;

    td{
      border:none;
    }

    .title{
      font-weight: bold;
    }

    .col-md-2{
      background-color: #000;
      height: 250px;
      margin: 5px;
    }

  }

}