#user-products-index{

  .main{
    margin-top: 20px;

    .text-center{
      border: none;
      background-color: #f8d0334f;
    }

    .sidebar-text{
      border:none;
      text-align: center;
      background-color: #fff;

      .submit-bottan{
        border: none;
        background-color: transparent;
      }

    }

    .sidebar-text:hover{
      background-color: #FFCC99;
    }

    .title{
      font-weight: bold;

      .count{
        font-weight: normal;
      }

    }

    .item-box{
      width: 100%;    

      .item-box-sizing{
        display: flex;
        flex-wrap: wrap;

        .item-box-image{
          width: 100%;
          
        }
      
        .item-box-list{
          width: 200px;
          height: 190px;
          margin: 5px;
        }

      }

    }

  }

}